--
-- PostgreSQL database dump
--

\restrict 2WRrYTt0FcD6tuUzwW97VAhoOV0EqvLNtXRlZ7l6l5ZnH5P4a0bGbyUhB4swNMY

-- Dumped from database version 18.4
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: especialidades; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.especialidades (
    id integer NOT NULL,
    nome character varying(255) NOT NULL,
    descricao text NOT NULL,
    itens text[] NOT NULL,
    quantidade_itens integer NOT NULL,
    data_versao date DEFAULT CURRENT_DATE,
    nota_tecnica text,
    ramo_conhecimento_id integer NOT NULL,
    CONSTRAINT especialidades_quantidade_itens_check CHECK ((quantidade_itens > 0))
);


ALTER TABLE public.especialidades OWNER TO postgres;

--
-- Name: especialidades_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.especialidades_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.especialidades_id_seq OWNER TO postgres;

--
-- Name: especialidades_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.especialidades_id_seq OWNED BY public.especialidades.id;


--
-- Name: progressoes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.progressoes (
    id integer NOT NULL,
    nome character varying(30) NOT NULL,
    descricao text NOT NULL,
    ramo_id integer
);


ALTER TABLE public.progressoes OWNER TO postgres;

--
-- Name: progressoes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.progressoes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.progressoes_id_seq OWNER TO postgres;

--
-- Name: progressoes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.progressoes_id_seq OWNED BY public.progressoes.id;


--
-- Name: ramos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ramos (
    id integer NOT NULL,
    nome character varying(30) NOT NULL,
    idade_min integer NOT NULL,
    idade_max integer NOT NULL,
    descricao text NOT NULL
);


ALTER TABLE public.ramos OWNER TO postgres;

--
-- Name: ramos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ramos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ramos_id_seq OWNER TO postgres;

--
-- Name: ramos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ramos_id_seq OWNED BY public.ramos.id;


--
-- Name: ramosconhecimento; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ramosconhecimento (
    id integer NOT NULL,
    nome character varying(30) NOT NULL,
    descricao text NOT NULL
);


ALTER TABLE public.ramosconhecimento OWNER TO postgres;

--
-- Name: ramosconhecimento_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ramosconhecimento_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ramosconhecimento_id_seq OWNER TO postgres;

--
-- Name: ramosconhecimento_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ramosconhecimento_id_seq OWNED BY public.ramosconhecimento.id;


--
-- Name: usuarioespecialidades; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usuarioespecialidades (
    id integer NOT NULL,
    usuario_id integer,
    especialidade_id integer,
    data_conquista character varying(10) NOT NULL,
    itens_concluidos integer[] DEFAULT '{}'::integer[] NOT NULL,
    nivel integer NOT NULL,
    CONSTRAINT usuarioespecialidades_nivel_check CHECK (((nivel >= 1) AND (nivel <= 3)))
);


ALTER TABLE public.usuarioespecialidades OWNER TO postgres;

--
-- Name: usuarioespecialidades_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.usuarioespecialidades_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.usuarioespecialidades_id_seq OWNER TO postgres;

--
-- Name: usuarioespecialidades_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.usuarioespecialidades_id_seq OWNED BY public.usuarioespecialidades.id;


--
-- Name: usuarioprogressoes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usuarioprogressoes (
    id integer NOT NULL,
    usuario_id integer,
    progressao_id integer,
    status character varying(30) DEFAULT 'pendente'::character varying NOT NULL,
    data_conclusao character varying(10) NOT NULL,
    CONSTRAINT chk_status CHECK (((status)::text = ANY ((ARRAY['pendente'::character varying, 'conclu├¡da'::character varying, 'rejeitada'::character varying])::text[])))
);


ALTER TABLE public.usuarioprogressoes OWNER TO postgres;

--
-- Name: usuarioprogressoes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.usuarioprogressoes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.usuarioprogressoes_id_seq OWNER TO postgres;

--
-- Name: usuarioprogressoes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.usuarioprogressoes_id_seq OWNED BY public.usuarioprogressoes.id;


--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usuarios (
    id integer NOT NULL,
    nome character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    senha character varying(255) NOT NULL,
    categoria character varying(30) NOT NULL,
    data_integracao character varying(10) NOT NULL,
    data_nascimento character varying(10) NOT NULL,
    ramo_id integer
);


ALTER TABLE public.usuarios OWNER TO postgres;

--
-- Name: usuarios_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.usuarios_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.usuarios_id_seq OWNER TO postgres;

--
-- Name: usuarios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.usuarios_id_seq OWNED BY public.usuarios.id;


--
-- Name: especialidades id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.especialidades ALTER COLUMN id SET DEFAULT nextval('public.especialidades_id_seq'::regclass);


--
-- Name: progressoes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progressoes ALTER COLUMN id SET DEFAULT nextval('public.progressoes_id_seq'::regclass);


--
-- Name: ramos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ramos ALTER COLUMN id SET DEFAULT nextval('public.ramos_id_seq'::regclass);


--
-- Name: ramosconhecimento id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ramosconhecimento ALTER COLUMN id SET DEFAULT nextval('public.ramosconhecimento_id_seq'::regclass);


--
-- Name: usuarioespecialidades id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarioespecialidades ALTER COLUMN id SET DEFAULT nextval('public.usuarioespecialidades_id_seq'::regclass);


--
-- Name: usuarioprogressoes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarioprogressoes ALTER COLUMN id SET DEFAULT nextval('public.usuarioprogressoes_id_seq'::regclass);


--
-- Name: usuarios id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios ALTER COLUMN id SET DEFAULT nextval('public.usuarios_id_seq'::regclass);


--
-- Data for Name: especialidades; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: progressoes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ramos; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ramosconhecimento; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: usuarioespecialidades; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.usuarioespecialidades (id, usuario_id, especialidade_id, data_conquista, itens_concluidos, nivel) FROM stdin;
\.


--
-- Data for Name: usuarioprogressoes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.usuarioprogressoes (id, usuario_id, progressao_id, status, data_conclusao) FROM stdin;
\.


--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.usuarios (id, nome, email, senha, categoria, data_integracao, data_nascimento, ramo_id) FROM stdin;
\.


--
-- Name: especialidades_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.especialidades_id_seq', 53, true);


--
-- Name: progressoes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.progressoes_id_seq', 1, false);


--
-- Name: ramos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ramos_id_seq', 4, true);


--
-- Name: ramosconhecimento_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ramosconhecimento_id_seq', 1, false);


--
-- Name: usuarioespecialidades_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.usuarioespecialidades_id_seq', 7, true);


--
-- Name: usuarioprogressoes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.usuarioprogressoes_id_seq', 4, true);


--
-- Name: usuarios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.usuarios_id_seq', 4, true);


--
-- Name: especialidades especialidades_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.especialidades
    ADD CONSTRAINT especialidades_pkey PRIMARY KEY (id);


--
-- Name: progressoes progressoes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progressoes
    ADD CONSTRAINT progressoes_pkey PRIMARY KEY (id);


--
-- Name: ramos ramos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ramos
    ADD CONSTRAINT ramos_pkey PRIMARY KEY (id);


--
-- Name: ramosconhecimento ramosconhecimento_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ramosconhecimento
    ADD CONSTRAINT ramosconhecimento_pkey PRIMARY KEY (id);


--
-- Name: usuarioespecialidades uk_usuario_especialidade; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarioespecialidades
    ADD CONSTRAINT uk_usuario_especialidade UNIQUE (usuario_id, especialidade_id);


--
-- Name: usuarioespecialidades usuarioespecialidades_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarioespecialidades
    ADD CONSTRAINT usuarioespecialidades_pkey PRIMARY KEY (id);


--
-- Name: usuarioprogressoes usuarioprogressoes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarioprogressoes
    ADD CONSTRAINT usuarioprogressoes_pkey PRIMARY KEY (id);


--
-- Name: usuarios usuarios_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_email_key UNIQUE (email);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id);


--
-- Name: especialidades fk_ramo_conhecimento; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.especialidades
    ADD CONSTRAINT fk_ramo_conhecimento FOREIGN KEY (ramo_conhecimento_id) REFERENCES public.ramosconhecimento(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: progressoes progressoes_ramo_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progressoes
    ADD CONSTRAINT progressoes_ramo_id_fkey FOREIGN KEY (ramo_id) REFERENCES public.ramos(id);


--
-- Name: usuarioespecialidades usuarioespecialidades_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarioespecialidades
    ADD CONSTRAINT usuarioespecialidades_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id);


--
-- Name: usuarioprogressoes usuarioprogressoes_progressao_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarioprogressoes
    ADD CONSTRAINT usuarioprogressoes_progressao_id_fkey FOREIGN KEY (progressao_id) REFERENCES public.progressoes(id);


--
-- Name: usuarioprogressoes usuarioprogressoes_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarioprogressoes
    ADD CONSTRAINT usuarioprogressoes_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id);


--
-- Name: usuarios usuarios_ramo_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_ramo_id_fkey FOREIGN KEY (ramo_id) REFERENCES public.ramos(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 2WRrYTt0FcD6tuUzwW97VAhoOV0EqvLNtXRlZ7l6l5ZnH5P4a0bGbyUhB4swNMY

